#%RAML 1.0
baseUri: https://anypoint.mulesoft.com/mocking/api/v1/links/d43cf1f9-d6e4-4a3c-9184-7fff728281c7/ # 
version: v1
title: Accounts API

types:
  Account: !include Account.raml

/accounts:
  get:
    displayName: Get All Accounts
    description: Retrieves a list of all accounts based on the given query parameters
    headers:
      Requester-ID:
        displayName: Requester ID
        description: id of the person requesting the accounts information
        type: string
        required: true
    queryParameters:
      type:
        displayName: Account Type
        description: Type of account, such as Personal or Business
        required: true
        type: string
        enum: [personal, business]
      name:
        displayName: Owner's Name
        description: Name of the account owner
        required: false
        type: string
      country:
        displayName: Owner's Country
        description: Country of residence of the account owner
        required: false
        type: string
    responses:
      200:
        description: Success
        body:
          application/json:
            type: Account[]
            examples:
              output: !include accountsExample.raml
      400:
        body:
          application/json:
            example: 
              message: Error retrieving data from the Account database
            
  /{ID}:
    get:
      displayName: Get Account
      description: Retrieves account based on the given query 
      responses:
        200:
          body:
            application/json:
              type: Account
              example: !include acountExample.raml             
              
    put:
      body:
        application/json:
          type: Account
          example: !include acountExample.raml
      responses:
        200:
          body:
            application/json:
              example:
                message:Account updated (but not really)
     
           
    patch:
      body:
        application/json:
          type: Account
          example: !include acountExample.raml
      responses:
        200:
          body:
            application/json:
              example:
                message:Account updated (but not really)

    delete:
      responses:
        200:
          body:
            application/json:
              example:
                message: Account deleted (but not really)
      

  post:
    displayName: Add Account
    description: Creates/Adds a new Account to the system based on a given array of Account objects
    headers:
      Requester-ID:
        displayName: Requester ID
        description: id of the person requesting the accounts information
        type: string
        required: true
    body:
      application/json:
        description: Payload should be an array of Account objects with all fields present for each Account object.
        type: Account[]    
        examples:
          output: !include accountsNoIdExample.raml
    responses:
      201:
        description: Success
        body:
          application/json:
            example:
              message: Accounts created (but not really)      
      400:
        body:
          application/json:
             example: 
               message: Error creating accounts. Please check the JSON object and make sure it's valid.

